@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Arch Linux */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);
  --font-family-y-serif: "Young Serif";
  --font-family-outif: Outfit;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  font-size: 62.5%;
}

body {
	font-family: "Young Serif", arial, helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--neutral-eggshell);
  padding: 12.4rem 0;
}

.container {
  width: 73.6rem;
  height: auto; /* 170.8rem */
  padding: 4rem;
  background-color: var(--neutral-white);
  border-radius: 2rem;
}

.description {
  margin-bottom: 3.1rem;
}

img {
  width: 65.8rem;
  height: 30rem;
  border-radius: 1.3rem;
  margin-bottom: 2.7rem;
}

h1 {
  margin-bottom: 1.7rem;
  font-size: 3.9rem;
  color: var(--neutral-dark-charcoal);
}

p,
li {
  font-size: 1.6rem;
  color: var(--neutral-wenge-brown);
  font-weight: var(--font-weight-400);
  line-height: 2.4rem;
}

p,
li,
h4 {
  font-family: var(--font-family-outif);
}

li {
  margin-left: 1.8rem;
}

.preparation-time {
  background-color: var(--neutral-rose-white);
  padding: 2.7rem 2.8rem;
  border-radius: 1.2rem;
  margin-bottom: 2.6rem;
}

li {
  color: var(--primary-dark-raspberry);
}

.preparation-time > p {
  margin-bottom: 1.4rem;
  font-weight: var(--font-weight-600);
  font-size: 2rem;
  color: var(--primary-dark-raspberry);
}

.preparation-time > ul > li {
  margin-bottom: 0.8rem;
}

.preparation-time > ul > li:nth-last-child(1) {
  margin-bottom: 0;
}

.time,
.preparation {
  font-weight: var(--font-weight-600);
  color: var(--neutral-wenge-brown);
}

.prep-time {
  color: var(--neutral-wenge-brown);
}

.time::before,
.ingredients::before {
  content: "";
  margin-left: 2.7rem;
}

.prep-n-instructions > ul > li {
  margin-bottom: 1rem;
}

h2 {
  color: var(--primary-nutmeg);
  margin-bottom: 1.8rem;
}

.prep-n-instructions {
  padding-bottom: 3.1rem;
  border-bottom: 0.1rem solid hsl(0, 0%, 88%);
  margin-bottom: 3.1rem;
}

ol > li {
  padding: 0 1.8rem;
  margin-bottom: 0.8rem;
}

ol > li:nth-last-child(1),
.prep-n-instructions > ul > li:nth-last-child(1) {
  margin-bottom: 0;
}

.nutritions-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid hsl(0, 0%, 88%);
}

.nutritions-table:nth-last-child(1) {
  border-bottom: none;
}

#nutrition-paragraph {
  margin-bottom: 1.2rem;
}

.left,
.right {
  width: 50%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.left {
  padding-left: 3.2rem;
}

.right {
  padding-left: 0.8rem;
  color: var(--primary-nutmeg);
  font-weight: var(--font-weight-600);
}

@media only screen and (max-width: 37.5rem) {
  body {
    padding: 0;
  }
  
  .container {
    padding: 0;
    border-radius: 0;
  }

  .one {
    padding: 0 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .last-li:nth-last-child(1) {
    display: flex;
    align-items: center;
  }

  .nutritions-table:nth-last-child(1) {
    margin-bottom: 2rem;
  }
}
