@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);
  --font-family-y-serif: "Young Serif";
  --font-family-outif: Outfit;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  font-size: 62.5%;
}

body {
	font-family: "Young Serif";
}
