@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);
  --font-family-y-serif: "Young Serif";
  --font-family-outif: Outfit;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  font-size: 62.5%;
}

body {
	font-family: "Young Serif", arial, helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--neutral-eggshell);
  padding: 12.4rem 0;
}

.container {
  width: 73.6rem;
  height: 170.8rem;
  padding: 4rem;
  background-color: var(--neutral-white);
  border-radius: 2rem;
}

img {
  width: 65.8rem;
  height: 30rem;
  border-radius: 1.3rem;
  margin-bottom: 3.4rem;
}

h1 {
  margin-bottom: 1.6rem;
  font-size: 4rem;
  color: var(--neutral-dark-charcoal);
}

p,
li {
  font-size: 1.6rem;
  color: var(--neutral-wenge-brown);
  font-weight: var(--font-weight-400);
}

p,
li,
h4 {
  font-family: var(--font-family-outif);
}

p {
  line-height: 2.4rem;
  margin-bottom: 3.1rem;
}

li {
  margin-left: 1.8rem;
}

.preparation-time {
  background-color: var(--neutral-rose-white);
  padding: 2.7rem 2.8rem;
  border-radius: 1.2rem;
  margin-bottom: 2.6rem;
}

li {
  color: var(--primary-dark-raspberry);
}

.preparation-time > h4 {
  margin-bottom: 1.4rem;
  font-weight: var(--font-weight-400);
  font-size: 2rem;
  color: var(--primary-dark-raspberry);
}

.preparation-time > ul > li {
  margin-bottom: 0.8rem;
}

.preparation-time > ul > li:nth-last-child(1) {
  margin-bottom: 0;
}

.time {
  font-weight: var(--font-weight-600);
  color: var(--neutral-wenge-brown);
  margin-left: 1.2rem;
}

.prep-time {
  color: var(--neutral-wenge-brown);
}
